APP_NAME="Agentic AI Marketing Platform"
APP_VERSION="0.0.1"
HOST="0.0.0.0"
PORT=8000

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="your_postgres_password"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_DB="aamp_db"

DATABASE_URL="postgresql+psycopg://postgres:password@localhost:5432/aamp_db"